/*--------------------------------------------------------------
# news Details Section
--------------------------------------------------------------*/
.news-details {
    padding-bottom: 30px;
}

.news-details .article {
    padding: 30px;
    box-shadow: 0 4px 16px color-mix(in srgb, var(--default-color), transparent 90%);
}

.news-details .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.news-details .title {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
}

.news-details .content {
    margin-top: 20px;
}

.news-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.news-details .content blockquote {
    overflow: hidden;
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.news-details .content blockquote p {
    color: var(--default-color);
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.news-details .content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--accent-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-details .meta-top {
    margin-top: 20px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.news-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.news-details .meta-top ul li+li {
    padding-left: 20px;
}

.news-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.news-details .meta-top a {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.news-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.news-details .meta-bottom i {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    display: inline;
}

.news-details .meta-bottom a {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    transition: 0.3s;
}

.news-details .meta-bottom a:hover {
    color: var(--accent-color);
}

.news-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.news-details .meta-bottom .cats li {
    display: inline-block;
}

.news-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.news-details .meta-bottom .tags li {
    display: inline-block;
}

.news-details .meta-bottom .tags li+li::before {
    padding-right: 6px;
    color: var(--default-color);
    content: ",";
}

.news-details .meta-bottom .share {
    font-size: 16px;
}

.news-details .meta-bottom .share i {
    padding-left: 5px;
}


/*--------------------------------------------------------------
# news Author Section
--------------------------------------------------------------*/
.news-author {
    padding: 10px 0 40px 0;
}

.news-author .author-container {
    padding: 20px;
    box-shadow: 0 4px 16px color-mix(in srgb, var(--default-color), transparent 90%);
}

.news-author img {
    max-width: 120px;
    margin-right: 20px;
}

.news-author h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.news-author .social-links {
    margin: 0 10px 10px 0;
}

.news-author .social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin-right: 5px;
}

.news-author p {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# reply form Section
--------------------------------------------------------------*/

.reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px color-mix(in srgb, var(--default-color), transparent 90%);
}

.reply-form h4 {
    font-weight: bold;
    font-size: 22px;
}

.reply-form p {
    font-size: 14px;
}

.reply-form .php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .reply-form .php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .reply-form .php-email-form .loading {
    display: none;
    background: var(--background-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .reply-form .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--background-color);
    animation: animate-loading 1s linear infinite;
  }
  
  .reply-form .php-email-form input[type=text],
  .reply-form .php-email-form input[type=email],
  .reply-form .php-email-form input[type=tel],
  .reply-form .php-email-form select,
  .reply-form .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
  }
  
  .reply-form .php-email-form input[type=text]:focus,
  .reply-form .php-email-form input[type=email]:focus,
  .reply-form .php-email-form input[type=tel]:focus,
  .reply-form .php-email-form select:focus,
  .reply-form .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .reply-form .php-email-form input[type=text]::placeholder,
  .reply-form .php-email-form input[type=email]::placeholder,
  .reply-form .php-email-form input[type=tel]::placeholder,
  .reply-form .php-email-form select::placeholder,
  .reply-form .php-email-form select option::placeholder,
  .reply-form .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
  }
  
  .reply-form .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .reply-form .php-email-form button[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
