/*--------------------------------------------------------------
# news Posts Section
--------------------------------------------------------------*/
.news-posts article {
    box-shadow: 0 4px 16px color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .news-posts .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
  }
  
  .news-posts .post-category {
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 10px;
  }
  
  .news-posts .title {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .news-posts .title a {
    color: var(--heading-color);
    transition: 0.3s;
  }
  
  .news-posts .title a:hover {
    color: var(--accent-color);
  }
  
  .news-posts .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .news-posts .post-author {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .news-posts .post-date {
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 0;
  }